<div class="ui raised segment" *ngIf="currentUrl == '/mypadlets' && padlet?.user_id == sessionId || currentUrl == '/padlets'">
  <div class="header">{{ padlet?.name }} </div>
  <div class="ui image label mini right floated">
    <img src="{{padlet?.user?.image}}">
    {{padlet?.user?.firstName}} {{padlet?.user?.lastName}}
  </div>
  <br>
  <div class="metadata">
    <span *ngIf="padlet?.is_public == true">öffentlich</span>
    <span *ngIf="padlet?.is_public != true">privat</span>
    | erstellt am {{padlet?.created_at}}
  </div>
</div>


