<div *ngIf="authService.isLoggedOut() && padlet?.is_public == true || authService.isLoggedIn()">
<div class="ui raised segment" *ngIf="currentUrl == '/mypadlets' && padlet?.user_id == sessionId || currentUrl == '/padlets'">
  <div class="header">{{ padlet?.name }}</div>
  <div class="ui image label mini right floated">
    <img src="{{user.image}}">
    {{user.firstName}} {{user.lastName}}
  </div>
  <br>
  <div class="metadata" *ngIf="padlet?.is_public == true">öffentlich</div>
  <div class="metadata" *ngIf="padlet?.is_public != true">privat</div>
</div>
</div>

