<div class="content">
<div class="ui top attached label teal">
  <h4 class=""> {{ entrie?.title }}</h4>
</div>

  <div class="ui image label tiny">
    <img src="{{entrie?.user?.image}}">
    {{entrie?.user?.firstName}} {{entrie?.user?.lastName}}
  </div>
  <div class="ui mini label">
    erstellt am {{entrie?.created_at}}
  </div>
  <br><br>
  <p>{{ entrie?.content }}</p>
  <br>

  <button *ngIf="authService.isLoggedIn()" class="ui tiny yellow icon button" [routerLink]="['./', entrie?.id]">
    <i class="write icon"></i>
  </button>
  <button *ngIf="authService.isLoggedIn()" class="ui tiny red icon button" (click)="removeEntrie()">
    <i class="trash icon"></i>
  </button>
  <div class="ui divider"></div>

  <p>
  Bewertungen:
</p>

<div class="ui list bs-rating-item" *ngFor="let rating of entrie?.ratings" [rating]="rating"> </div>
  <div *ngIf="authService.isLoggedIn()">
    <div *ngIf="!checkRated" class="bs-rating-form" [entrie]="entrie"></div>
  </div>

<p>
  Kommentare:
</p>
  <div class="ui list bs-comment-item" *ngFor="let comment of entrie?.comments" [comment]="comment">

</div>

  <br>
  <div *ngIf="authService.isLoggedIn()" class="bs-comment-form" [entrie]="entrie"></div>
</div>
