<div class="content">
<div class="ui top attached label teal">
  <h4 class=""> {{ entrie?.title }}</h4>
</div>
  <p>{{ entrie?.content }}</p>

  <div class="ui image label tiny">
    <img src="https://i.pinimg.com/originals/ba/d4/5a/bad45a40fa6e153ef8d1599ba875102c.png">
    {{username}}
  </div>
  <button *ngIf="authService.isLoggedIn()" class="ui tiny yellow icon button" [routerLink]="['./', entrie?.id]">
    <i class="write icon"></i>
  </button>
  <button *ngIf="authService.isLoggedIn()" class="ui tiny red icon button" (click)="removeEntrie()">
    <i class="trash icon"></i>
  </button>
<br>
  <div class="ui divider"></div>

  <p *ngIf="ratings[0]">
  Bewertungen:
</p>
<div class="ui list bs-rating-item" *ngFor="let rating of ratings" [rating]="rating"> </div>
  <div *ngIf="authService.isLoggedIn()">
    <div *ngIf="checkIfUserHasAlreadyRated()" class="bs-rating-form" [entrie]="entrie"></div>
  </div>

<p *ngIf="comments[0]">
  Kommentare
</p>
  <div class="ui list bs-comment-item" *ngFor="let comment of comments" [comment]="comment">

</div>

  <br>
  <div *ngIf="authService.isLoggedIn()" class="bs-comment-form" [entrie]="entrie"></div>
</div>
