<div class="ui grid">
  <div class="row">
    <div class="thirteen wide column">
  <br>
    <h1>{{ padlet.name }}</h1>
    von
    <div class="ui image label">
      <img src="{{padlet?.user?.image}}">
      {{padlet?.user?.firstName}} {{padlet?.user?.lastName}}
    </div>
  <br><br>

  <div class="ui grid container cards">

    <div *ngFor="let entrie of entries" class="item bs-entrie-item ui card five wide column" [entrie]="entrie"></div>

  </div><br><br>
    </div>
    <div class="three wide column">
      <br>
      <button *ngIf="isOwner()" class="ui tiny yellow icon label button" [routerLink]="['../../padletsform',padlet.id]">
        <i class="write icon"></i>  Padlet bearbeiten
      </button><br><br>
      <button *ngIf="isOwner()" class="ui tiny red icon label button"
              (click)="removePadlet()">
        <i class="trash icon"></i>  Padlet löschen
      </button>
<br><br>
      <button [routerLink] = "'/padlets'" class="ui tiny grey icon label button">
        <i class="arrow alternate circle right icon"></i>  Zurück zur Übersicht</button>
      <br>
      <div class="item bs-entrie-form" *ngIf="authService.isLoggedIn()">

      </div>
    </div>
    </div>
</div>
